body{
    background-color: #0c5460;
}

main{
    min-height: calc(100vh - 80px);
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 80px;
    text-align: center;
}

footer p{
    padding: 10px 0px 10px;
    color: #cbd3da;
}

footer hr{
    margin-top: 10px;
    margin-bottom: 2px;
    color: #cbd3da;
    width: 80vw;
    border: 1px solid;
    align-self: center;
}

#navbar-user{
    position: absolute;
    right: 30px;
}

#navbar-user-profile{
    width: 40px;
    height: 40px;
    border-color: #dee2e6;
    border-width: 1px;
    border-radius: 15px;
}

#logout{
    margin-right: 20px;
    color: #cbd3da;
    text-decoration: None;
    text-align: center;
    height: 40px;
}

#search_area{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search_area img{
    width: 200px;
    height: 200px;
}

#search-bar{
    margin-top: 20px;
    width: 30vw;
    max-width: 500px;
    min-width: 300px;
    height: 40px;
    border-top-width:  0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-bottom-left-radius: 3000px;
    border-bottom-right-radius: 3000px;
    border-color: #dee2e6;
    outline: medium;
    padding: 0 2em 0.1em 2em;
    font-size: 24px;
    background-color: #cbd3da;
}

#search-bar::-webkit-input-placeholder {
    text-align: center;
}

#info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info-box #more_margin{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info-box p{
    margin-top: 10px;
    margin-bottom: 40px;
    color: #cbd3da;
    font-size: 56px;
}

#info-box .userinfo{
    margin-top: 20px;
    width: 25vw;
    max-width: 500px;
    min-width: 300px;
    height: 40px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #dee2e6;
    outline: medium;
    padding: 0 2em 0.1em 2em;
    font-size: 24px;
    background-color: #cbd3da;
}

#info-box a{
    margin-right: 20px;
    display: inline;
    font-size: 24px;
    color: #ffc107;
    text-decoration: none;
}

#info-box .submit{
    margin-left: 20px;
    display: inline;
    width: 100px;
    font-size: 24px;
    padding: 0 0 0.1em 0;
    color: #cbd3da;
    background-color: #0f6674;
    border-width: 0;
    border-radius: 10px;
}

#info-box .info-row{
    margin-top: 20px;
    width: 25vw;
    max-width: 500px;
    min-width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-row span{
    font-size: 24px;
    color: #cbd3da;
    margin-left: 20px;
    margin-right: 20px;
}

.myalert{
    text-align: center;
    margin-top: 50px;
    width: 50vh;
}

#navbar-search-bar{
    width: 20vw;
    max-width: 280px;
    min-width: 250px;
    height: 35px;
    border-radius: 10px;
    border-color: #dee2e6;
    background-color: #cbd3da;
    outline: medium;
    padding: 0 2em 0.1em 2em;
    margin-left: 15px;
    font-size: 16px;
}

#results-area{
    height: auto;
    margin-top: 30px;
}

.news-brief{
    border-size: 1px;
    border-radius: 10px;
    border-color: #ffffff;
    background-color: #0f6674;
    margin: 20px calc(50vw - 500px);
    width: 1000px;
    height: 150px;
}

.news-brief .news-img{
    display: block;
    float: left;
    margin: 20px;
}

.news-brief .news-img img{
    width: 100px;
    height: 100px;
}

.news-brief .news-text{
    display: block;
    float: left;
    width: 800px;
}

.news-brief .news-title{
    display: block;
    margin: 10px 0;
    text-decoration: None;
    font-size: 28px;
    color: #b1dfbb;
    height: 40px;
}

.news-brief .news-content{
    display: block;
    margin: 5px 0;
    color: #cbd3da;
    height: 80px;
    overflow: hidden;
}

.news-detail{
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    width: auto;
}

.news-detail .news-title{
    text-align: center;
    font-size: 32px;
    color: #b1dfbb;
}

.news-detail .news-content{
    text-indent: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: #cbd3da;
}